body {
  padding: 0px;
  margin: 0px;
}


.one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.one>img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  margin: 20px auto 20px auto;
  width: 70%;
  height: auto;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.map {
  position: absolute;
  bottom: 120px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 10px 10px #B4ABA8;
}

.map a {
  color: #a8a8a1;
  text-decoration: none !important;
  font-size: 18px;
}

@media(max-width:1199px) {
  .map {
    bottom: 20px;
  }
}

@media (max-width:1024px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 100px auto 100px auto;
    width: 80%;
  }

  .map {
    width: 150px;
    bottom: 80px;
    text-align: center;
  }

  .map a {
    font-size: 12px;
  }
}

@media (max-width:991px) {
  .content {
    height: 140vh;
  }


  .front {
    margin: 60px auto 60px auto;
    width: 70%;
  }


  .map {
    width: 130px;
    bottom: 80px;
    text-align: center;
    bottom: 60px;
  }
}

@media (max-width:768px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 30px auto 30px auto;
    width: 70%;
  }

  .map {
    bottom: 30px;
    box-shadow: 0 0 8px 8px rgb(196, 191, 175);
  }
}

@media (max-width:650px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 50px auto 50px auto;
    width: 75%;
  }

  .map {
    bottom: 45px;
  }
}

@media (max-width:500px) {

  .front {
    margin: 65px auto 65px auto;
    width: 80%;
  }
}

@media (max-width:450px) {

  .front {
    margin: 70px auto 70px auto;
    width: 85%;
  }
}

@media (max-width:420px) {

  .front {
    margin: 85px auto 85px auto;
    width: 85%;
  }
}

@media (max-width:400px) {

  .front {
    margin: 90px auto 90px auto;
    width: 90%;
  }
}

@media (max-width:390px) {

  .front {
    margin: 100px auto 100px auto;
  }
}

@media (max-width:375px) {

  .front {
    margin: 120px auto 120px auto;
    width: 95%;
  }
}

@media (max-width:350px) {

  .front {
    margin: 115px auto 115px auto;
  }
}